body {
    background-color: #E17474;
    font-family: "Lobster Two", serif;
}

/* input[type="text"] { */
/*     background-color: #5cc8ff; */
/* } */

#bmi-mass {
    background-color: #5cc8ff;
}

#bmi-height {
    background-color: #93867f;
}

.my-header {
    color: #fff;
}
