<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />

    <meta http-equiv="x-ua-compatible"        content="ie=edge"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="mobile-web-app-capable"       content="yes"/>

    <meta http-equiv="Cache-Control"          content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma"                 content="no-cache" />
    <meta http-equiv="Expires"                content="0" />

    <title>My First WEB Page</title>
    <link href="styles.css" rel="stylesheet">

  </head>

  <body>
    <div id="page-container">
      <div id="page-header" ></div>
      <div id="page-footer" ></div>
      <div id="page-sidebar"></div>
      <div id="page-central"></div>
    </div>
  </body>

</html>
