* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

#page-container {
    width:   100vw;
    height:  100vh;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows:    100px auto 100px;
}

#page-header {
    background-color: #3c6e71;
    grid-column: 1 / 3;
    grid-row: 1;
}

#page-footer {
    background-color: #353535;
    grid-column: 1 / 3;
    grid-row: 3;
}

#page-sidebar {
    background-color: #d9d9d9;
    grid-column: 1;
    grid-row: 2;
}

#page-central {
    background-color: #fff;
    grid-column: 2;
    grid-row: 2;
}
